<!-- zone d une liste de produit unique -->
<div id="listeProduit" data-ng-controller="listeproduitsCtrl as lpctrl">
    <table id="liste-produit">
        <tr>
            <td>Images </td>
            <td>
                <div style="text-align:center">Description</div>
            </td>
            <th> Prix </th>
            <td>

            </td>
        </tr>


        <tr data-ng-repeat="produit in lpctrl.listeProduit">
            <td><img ng-src="{{produit.img}}" alt="{{produit.nom}}"> </td>
            <td>
                <div style="text-align:center">{{produit.nom}}</div>
                <div style="text-align:center">{{produit.description}}&nbsp;&nbsp;</div>
            </td>
            <th class="produit-prix">{{produit.prix | reduc :produit.reduc | euroCurrency :'€':2 }}</th>
            <td>
                <a ng-href="#/produit/{{produit.id}}" ng-if="produit.stock &gt; 0">
                    <div class="btn btn-success">Voir</div>
                </a>
            </td>
        </tr>
    </table>
</div>