<div style="text-align:center">
    <h2>Mon panier</h2>
</div>

<div id="listeProduit" data-ng-controller="listeproduitsCtrl as lpctrl">
    <table id="liste-produit">
        <tr>
            <td>
                <div style="text-align:center">Images</div>
            </td>
            <td>
                <div style="text-align:center">Nom du produits</div>
            </td>
            <th>
                <div style="text-align:center">Quantités</div>
            </th>
            <th>
                <div style="text-align:center">Montants</div>
            </th>
            <td>


            </td>
        </tr>


        <tr>
            <td>
                <div style="text-align:center"><img src="img/marin1.jpg" alt="marin1.jpg"></div>
            </td>
            <td>
                <div style="text-align:center">Mariniere Bleue</div>

            </td>
            <th>
                <div style="text-align:center">1&nbsp;&nbsp;</div>
            </th>
            <th class="produit-prix">192.00 €</th>

        </tr>

        <tr>
            <td colspan="3">
                <div style="text-align:right">Sous-Total : 192 €</div>
            </td>

        </tr>
        <tr>
            <td colspan="3">
                <div style="text-align:right">TVA : 20.6 %</div>
            </td>

        </tr>
        <tr>
            <td colspan="3">
                <div style="text-align:right">Total : 240 €</div>
            </td>

        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a ng-href="">
                    <div class="btn btn-default">panier</div>
                </a>
            </td>

        </tr>

    </table>
</div>