<div id="produit">
    <h4>Le produit</h4>
    <table>
        <tr>
            <th> <img src="{{lpctrl.produit.img}}" alt="Mariniere 1"> </th>
            <td> <u>Description</u>: &nbsp; Belle mariniere &nbsp;<br/> <u>Prix</u>: 172 euros &nbsp;&nbsp;</td>
            <th>
                <button type="button" class="btn btn-primary">Ajouter</button>
                <br/>
                <br/>
                <!-- <button type="button" class="btn btn-default">Partager</button> -->
                <a ng-href="#/panier">
                    <div class="btn btn-default">panier</div>
                </a>

            </th>
        </tr>
    </table>
</div>
<!-- zone pour le produit unique -->