body {
    color: darkblue;
}

#liste-produit img {
    max-height: 75px;
    max-width: 75px;
    size: auto;
}

table {
    width: 100%;
    border: none;
}

th {
    text-align: center;
    color: red;
}

.center {
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.liste-produits-titre {
    font-size: 28pt;
    font-weight: 700;
}